.table_stat tr td{
	border-right: 1px solid #E8E8E8 !important;
}

.table_stat-new tr td{
	border-right: 1px solid #E8E8E8 !important;
}
.tt_data_wrapper td{
    border-right: 1px solid rgba(200, 200, 200, .3);
}